<pre>
    Creational
Singleton
Prototype
Builder
Factory
Abstract Factory
Object Pool Pattern
Structural 
Adapter
To connect new code to legacy code without changing the working contract of legacy code
Like a plug adapter
Can have multiple adapters
Convert interface to other interface
Client, adapter, adaptee
Ex: Arrays.asList()
Bridge
Similar to adapter but bridge works with new code
Decouple abstraction and implementation using encapsulation, composition, inheritance
Changes in abstraction wont affect the client
Details are not available initially
Ex:JDBC drivers
Composite
Hierarchical type pattern that deals with tree structure of information
Components represent part or whole of structure
Obj in tree structures
Ind object treated as composite
Same operations on individual and composites
Ex: component, java.awt
Decorator
Hierarchical type pattern with functionality at each level while using composition from similar datatypes
Wrap another object and add functionality to it
Add behavior without affecting others
More than inheritance
SRP
Ex: InputStream
Inheritance based
Utilizes composition and inheritance(is-a and has-a)
Façade
To overcome poorly designed api
Reduces dependencies on outside code
Simplify client usage
Refactoring pattern
1.	Flyweight
To reduce the number of objects created
String
2.	Filter
3.	Proxy
Behavioral
1.	Chain of responsibility
2.	Command
3.	Interpreter
4.	Iterator
5.	Mediator
6.	Momento
7.	Observer
8.	State
9.	Strategy
10.	Template
11.	Visitor
12.	Null Object

J2EE Patterns
Presentation Layer
1.	Intercepting Filter
2.	Front controller 
3.	View Helper
4.	Composite View
Business Layer
1.	Business Delegate
2.	Service Locator
3.	Session Façade
4.	Transfer Object
Integration Layer
1.	Data Access Object
2.	Web Service Broker

1.	MVC
2.	Composite Entity


</pre>
