<pre>
    Users
Root User
IAM User

Root user creates user groups and assigns policies
Creates a user and assign user group
EC2 is created using an AMI (image) IaaS(Infrastructure as a Service)
Service roles are automatically created when you need to connect from a service to different service
Code commit – Repository
Code Build – buildspec.yml – build commands
Builds and pushes it to a bucket in S3
Code deploy – deploys the artifact from S3 bucket mentioned to the ec2 instance – deployappspec.yml
Keypair
Tags
Code pipeline – automated – cloudwatch
CloudFormation – json with all the details

</pre>>
