<pre>
    Single Responsibility Principle
a class should only have one responsibility. Furthermore, it should only have one reason to change
Testing, Lower coupling, Organization
Open closed Principle
Open for Extension, Closed for Modification
classes should be open for extension but closed for modification. In doing so, we stop ourselves from modifying existing code and causing potential new bugs
Liskov Substitution Principle
if class A is a subtype of class B, we should be able to replace B with A without disrupting the behavior of our program.
Interface segregation Principle
larger interfaces should be split into smaller ones. By doing so, we can ensure that implementing classes only need to be concerned about the methods that are of interest to them.
Dependency Injection
The principle of dependency inversion refers to the decoupling of software modules. This way, instead of high-level modules depending on low-level modules, both will depend on abstractions.

DRY – Don’t repeat yourself

</pre>
