<div>
  <nav class = 'navbar navbar-expand navbar-light bg-light'>   
  <ul class = 'nav nav-pills'>
    <li><a class = 'nav-link' [routerLink] = "['/java']">Java</a></li>
    <li><a class = 'nav-link' routerLink = "/microservices">Microservices</a></li>
    <li><a class = 'nav-link' routerLink = "/javalogging">Java Logging</a></li>
    <li><a class = 'nav-link' routerLink = "/aws">AWS</a></li>
    <li><a class = 'nav-link' routerLink = "/gitlab">GitLab</a></li>
    <li><a class = 'nav-link' routerLink = "/veracode">Veracode</a></li>
    <li><a class = 'nav-link' routerLink = "/sonarqube">sonarqube</a></li>
    <li><a class = 'nav-link' routerLink = "/apitesting">Api Testing</a></li>
    <li><a class = 'nav-link' routerLink = "/solid">SOLID</a></li>
    <li><a class = 'nav-link' routerLink = "/codereview">Code Review</a></li>
    <li><a class = 'nav-link' routerLink = "/designpatterns">Design Patterns</a></li>
    <li><a class = 'nav-link' routerLink = "/rest">REST</a></li>
    <li><a class = 'nav-link' routerLink = "/json">JSON</a></li>
    <li><a class = 'nav-link' routerLink = "/testing">Testing</a></li>
    <li><a class = 'nav-link' routerLink = "/springboot">Spring Boot</a></li>
    <li><a class = 'nav-link' routerLink = "/kafka">Kafka</a></li>
    <li><a class = 'nav-link' routerLink = "/security">Security</a></li>
    <li><a class = 'nav-link' routerLink = "/multithreading">MultiThreading</a></li>
    <li><a class = 'nav-link' routerLink = "/angular">Angular</a></li>
    <li><a class = 'nav-link' routerLink = "/html5">HTML5</a></li>
    <li><a class = 'nav-link' routerLink = "/javascript">Javascript</a></li>
    <li><a class = 'nav-link' routerLink = "/css">CSS</a></li>
    <li><a class = 'nav-link' routerLink = "/bootstrap">Bootstrap</a></li>
  </ul>
  </nav>
  <router-outlet></router-outlet>
</div>